sudo: false
language: python
python:
  - "3.4"
##Install dependencies
install:
  - pip install -r requirements.txt
##Run tests
script: nosetests
notifications:
  email:
    on_success: never
    on_failure: never
